.student__login{
    display: flex;
    background-color:whitesmoke;
    height:90vh;
}

.student__login__data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    height: 42vh;
    margin: 16vh 0vh 0vh 30vh;
    margin-left: 35%;
    border-radius: 30px;
    /* border: 1px solid grey; */
    width: fit-content;
    padding:56px;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(194, 191, 191);
}

.student__login__data > Button{
    width: 40vh;
    height:8vh;
}

.student__login__data > p{
    font-weight: 600;
}