.parent{
    display: flex;
}

.data__items{
    display: flex;
    justify-content:space-between;
    background-color:#c0e0ff;
    margin:24px;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    width: 54vw;
}

.req__main{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8%;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 40%;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#accept__btn{
    background-color: #118E0E;
}

#deny__btn{
    background-color: #CB0404;
}

.control__btns{
    display: flex;
    justify-content: space-between;
    width: 50%;
}